xis-javascript/src/main/resources/META-INF/schemas/xis.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://xis.one/schema" elementFormDefault="qualified">
    <xs:element name="form">
        <xs:complexType>
            <xs:sequence/>
            <xs:attribute name="binding" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="if">
        <xs:complexType>
            <xs:sequence/>
            <xs:attribute name="condition" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="parameter">
        <xs:complexType>
            <xs:sequence/>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="value" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="widget-container">
        <xs:complexType>
            <xs:sequence/>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="default-widget">
        <xs:complexType>
            <xs:sequence/>
            <xs:attribute name="name" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="foreach">
        <xs:complexType>
            <xs:sequence/>
            <xs:attribute name="items" type="xs:string" use="required"/>
            <xs:attribute name="var" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="message">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="messages">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="label">
        <xs:complexType>
            <xs:sequence/>
            <xs:attribute name="for" type="xs:string" use="optional"/>
            <xs:attribute name="error-class" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:attribute name="action" type="xs:string"/>
    <xs:attribute name="binding" type="xs:string"/>
    <xs:attribute name="parameter" type="xs:string"/>
    <xs:attribute name="repeat" type="xs:string"/>
    <xs:attribute name="if" type="xs:string"/>
    <xs:attribute name="widget-container" type="xs:string"/>
    <xs:attribute name="default-widget" type="xs:string"/>
    <xs:attribute name="for" type="xs:string"/>
    <xs:attribute name="error-class" type="xs:string"/>
</xs:schema>
